<CENTER>
<br><br><br><br>
<h2>Guess/Draw</h2>
<h4>This is your first time here, can register please </h4>
<br><br><br>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="user_name">Username</label><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pin %><br>
    <input id="user_pin" name="user[pin]" type="text" value="<%= @pin %>" readonly/>
  </div>
  <div class="actions">
    <%= f.submit "Register"%>
  </div>
<% end %>
</CENTER>
